body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Pixelify Sans', cursive;
    font-size: 20px;
    background-color: #ffffff;

}


a {
    font-size: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.destacado {

    width: 93%;
    height: 80px;
    background-color: #ffffff;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: flex-end;
    padding: 50px;
    margin: 60px;
    /*padding-bottom:50px;*/

    margin-top: -100px;
    margin-bottom: 200px;
    color: rgb(0, 0, 0);
}


.destacadoG {
    text-align: center;
    justify-content: space-between;
    font-size: 30px;

}


ul {
    list-style: none;
}


.Elegirnos {
    font-size: 30px;
}

.contenidoPrin {
    /*Tamaño de la Pag */
    width: 90%;
    /*Centrar elementos */
    margin: auto;
}

.header {
    font-size: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px 0;
}

.header ul {
    display: flex;
}

.header ul li {
    padding: 10px;
}

.header ul li a {
    padding: 2px;
}

.header ul li a:hover {
    border-bottom: 5px purple;
}

.header ul.navMenu {
    flex: 1;
    margin-left: 320px;

}



hr {
    margin: 10px 0;
}

.menuBoton {
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: 30px;
    z-index: 2;
    /*Ocultar el elemento*/
    /*display: none;*/
}

.muestraEncabezado {
    width: 93%;
    height: 250px;
    background: url('Imagenes/pexels-rahul-pandit-2119903.jpg')no-repeat center center/cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;

    justify-content: flex-end;
    padding: 50px;
    /*padding-bottom:50px;*/
    margin-bottom: 20px;
    color: rgb(255, 255, 255);

}

.botonA {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(0, 30, 255);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 5px solid;
    margin: 10px 0;
    border-radius: 10px;

}

.botonA:hover {
    opacity: 0.3;
}

.boton {
    cursor: pointer;
    display: inline-block;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 5px solid;
    margin: 10px 0;

}

.boton:hover {
    opacity: 0.3;
}

.botonI {
    cursor: pointer;
    display: flex;
    border: 0;
    font-weight: bold;
    padding: 10px 20px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 15px;
    border: 5px solid;
    margin: 280px 0;
    margin-left: 110px;

}

.botonI:hover {
    opacity: 0.3;
}

.muestraEncabezado h2,
.muestraEncabezado p {
    margin-bottom: 20px;
}

/*Imagenes del tema*/
.temaImagenes {
    /* se prepara una cuadricula */
    display: grid;
    /* permite crear columnas */
    grid-template-columns: repeat(3, 1fr);
    /* espacio interno */
    gap: 25px;
    margin: 70px 0;

}

.temaImagenes img {
    width: 80%;
    height: 180px;
}

.temaImagenes h3 {
    font-size: 20px;
    margin: 20px 0;
}

/* opcionmal */
.temaImagenes p {
    text-align: justify;
}

.temaImagenes a {

    padding: 10px 0;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.temaImagenes a:hover {
    text-decoration: underline;
}


.temaImagenes2 {
    /* se prepara una cuadricula */
    display: grid;
    /* permite crear columnas */
    grid-template-columns: repeat(4, 1fr);
    /* espacio interno */
    gap: 25px;
    margin: 70px 0;

}

.temaImagenes2 img {
    width: 100%;
    height: 400px;
}

.temaImagenes2 h3 {
    font-size: 20px;
    margin: 20px 0;
}

/* opcionmal */
.temaImagenes2 p {
    text-align: justify;
}

.temaImagenes2 a {

    padding: 10px 0;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
}

.temaImagenes2 a:hover {
    text-decoration: underline;
}

/* opcional */

.temaImagenes p {
    font-style: italic;
}

.consultoria {
    width: 100%;
    height: 400px;
    background: url('Imagenes/pexels-cottonbro-studio-5195565.jpg')no-repeat center/cover;
    margin-bottom: 40px;
    color: #ffffff;
}

.consultoria h2 {

    text-align: center;
}

.consultoria2 {
    width: 100%;
    height: 400px;
    background: url('Imagenes/pexels-julian-paolo-dayag-2885429.jpg')no-repeat center/cover;
    margin-bottom: 40px;
    color: #ffffff;
}

.consultoria2 h2 {

    text-align: center;
}

.consultoria3 {
    width: 100%;
    height: 400px;
    background: url('Imagenes/pexels-gijs-coolen-2948297.jpg')no-repeat center/cover;
    margin-bottom: 40px;
    color: #ffffff;
}

.consultoria3 h2 {

    text-align: center;
}


.temaImagenes .contenido1 {

    width: 40%;
    padding: 90px 0 0 30px;
    color: rgb(250, 8, 8);
}

/* banner imagenes */
.bannerImagenes2 {
    width: 100%;
    height: 400px;
    background: url('Imagenes/pexels-jess-loiterton-9269100.jpg')no-repeat center/cover;
    margin-bottom: 40px;

    align-items: center;
    flex-direction: column;
    align-items: center;

    text-align: center;
    justify-content: flex-end;
    /*padding-bottom:50px;*/

    color: rgb(255, 255, 255);
    /* pONERLO EN NEGRO PARA LA LETRA */

}

.bannerImagenes2 .contenidoB2 {
    /*width: 100%;
    padding: 10px 0 0 30px;
    color: gray;
    text-align: center;*/
    text-align: left;
    width: 40%;
    padding: 90px 0 0 30px;
    color: rgb(255, 255, 255);
}

.bannerImagenes2 p {
    align-self: center;
}

.Social {
    text-align: center;
    justify-content: space-between;
}

.Social p {
    font-size: 200%;
}


.enlaceSocial {
    display: inline;
    justify-content: space-between;

}

.enlaceSocial i {
    font-size: 150%;
    margin-left: 10px;
    margin-right: 10px;

}

.enlaceSocial a:hover {
    justify-content: space-around;
    opacity: 70%;

}

/* ------------------------------------------------ */

.tabla_motos {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

.divNosotros {
    width: 93%;
    height: 300px;
    background: url('Imagenes/pexels-fwstudio-163999.jpg')no-repeat center center/cover;

    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;

    justify-content: flex-end;
    padding: 10px;
    /*padding-bottom:50px;*/
    margin-bottom: 20px;
    color: rgb(255, 255, 255);

}

.divNosotros2 {
    width: 93%;
    height: 300px;
    background: url('Imagenes/pexels-pixabay-207253.jpg')no-repeat center center/cover;

    display: grid;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: 50px;

    justify-content: flex-end;
    padding: 10px;
    /*padding-bottom:50px;*/
    margin-bottom: 20px;
    color: rgb(255, 255, 255);

}

/* ------------------------------------------------ */
.divRegistro {
    float: center;
    width: 500px;
    margin: 15px auto;
    padding: 15px;
    border: 3px rgb(56, 4, 99);
    border-radius: 10px;
    box-shadow: rgba(154, 7, 239, 0.901) 5px 5px 10px;
    background: linear-gradient(to right, rgb(7, 30, 229));
    outline: 2px ridge red;
}

.divRegistro p {
    border-top: 2px solid rgb(14, 8, 128);
}

.contenido-pie-pagina {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
}

.contenido-pie-pagina ul {
    margin: 0 auto;
}

.contenido-pie-pagina ul li {
    line-height: 2;
}

.contenido-pie-pagina a {
    color: #ffffff;
}

.contenido-pie-pagina ul li:hover {
    text-decoration: underline;
}

.enlace-pie-pagina {
    padding-top: 100px;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-size: 12px;
    padding: 15 0;
    height: 350px;
}

.piePagina {
    background: rgb(91, 90, 89);
    color: rgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    padding-bottom: 20px;
    font-size: italic;
}


.ticket {
    margin-left: 180px;
}

@media (max-width: 900px) {

    .header ul.navMenu {
        display: block;
        position: absolute;
        top: 120px;
        left: 0;
        right: 330px;
        background: rgb(255, 255, 255);
        height: 50%;
        transform: translateX(-20px);
        opacity: 0.5;
    }


    .header ul.navMenu {
        padding: 20px;
        border-bottom: darkslateblue 1px;
        font-size: 15px;
    }


    .header ul.navMenuDerecha {
        display: inline;
    }

    .divNosotros {
        font-size: 12px;
    }

    .divNosotros2 {
        font-size: 12px;
    }


    body {
        background: rgb(149, 142, 142);
    }


    /* se van a modificar las columnas */
    .temaImagenes {
        grid-template-columns: repeat(2, 1fr);
    }


    .bannerImagenes1 .contenido,
    .bannerImagenes2 .contenido {
        width: 80%;
    }



    .enlace-pie-pagina .contenido-pie-pagina {
        grid-template-columns: repeat(2, 1fr);
    }

    .tabla_motos {

        tr,
        td {
            display: block;
            width: 100%;
        }
    }

    .ticket {
        margin-left: 0.5cm;
        padding: 2vw 2vw;
        font-size: 2vw;
        border: 0.7vw;

        textarea {
            width: 100%;
        }


        video,
        iframe {
            width: 100%;
            height: auto;
        }
    }


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container-slider {
    position: relative;
    display: block;
    width: 100%;
}

#slider {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}

#slider li {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    /* Cambiar tamaño de carrusel */
    height: 80%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}

#container-slider .arrowPrev,
#container-slider .arrowNext {
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 35%;
    /* CAmbiar posicion de Flechas */
    left: 50px;
    z-index: 2;
}

#container-slider .arrowNext {
    left: initial;
    right: 50px !important;
}

.content_slider {
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}

.content_slider div {
    text-align: center;
}

.content_slider h2 {
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}

#slider li .content_slider {
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}

.content_slider {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnSlider {
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(37, 40, 80, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}

.btnSlider:hover {
    background: #111;
    border: 1px solid #111;
}

.listslider {
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 150px;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}

.listslider li {
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}

.listslider li a {
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}

.item-select-slid {
    background: #FFF !important;
}

@media screen and (max-width: 460px) {
    .content_slider h2 {
        font-size: 15pt !important;
    }

    .content_slider p {
        font-size: 12pt !important;
    }

    #container-slider .arrowPrev,
    #container-slider .arrowNext {
        font-size: 20pt;
    }

    #container-slider .arrowPrev {
        left: 15px;
    }

    #container-slider .arrowNext {
        right: 15px !important;
    }

    #slider {
        height: 400px;
        min-height: 400px;
    }

    #slider li .content_slider {
        padding: 10px 35px;
    }

    .btnSlider {
        padding: 10px 30px;
        font-size: 10pt;
    }

}